{% extends "::frontend.html.twig" %}
{% block title %} Las mejores empresas del mundo {% endblock %}
{%block id 'portada'%}

{% block article %} 
    
        <form action="{{ path('WebCompanyBundle_registro') }}" method="post" {{
            form_enctype(formulario) }}>
            {{ form_widget(formulario) }}
            <input class="boton" type="submit" value="Registrarme" />
        </form>
    
{% endblock %}